<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= obj.title %></title>
</head>

<body>

  <%= obj.title %>

  <p> News page Id - <%= newsId %>

  <ul>
    <% obj.numbers.forEach(function(item){%>
    <li>
      <%= item %>
    </li>
    <%}); %>
  </ul>

  <p><a href="/">Main</a> </p>
</body>

</html>
